stmt, err := db.Prepare("INSERT INTO {{ .Table }}(

{{- $columnLength := len .Columns -}}
{{- $lastColumnIndex := minus $columnLength 1 -}}

{{- range $columnIndex, $column :=  .Columns -}}
    {{ $column.Name }}
    {{- if ne $columnIndex $lastColumnIndex  -}}, {{ end -}}
{{- end -}}

) VALUES(

{{- range $columnIndex, $column :=  .Columns -}}
    ?
    {{- if ne $columnIndex $lastColumnIndex  -}}, {{ end -}}
{{- end -}}

)")

if err != nil {
	return
}

stmt.Exec(
{{- range $columnIndex, $value :=  .Values -}}
    {{ $value }}
    {{- if ne $columnIndex $lastColumnIndex  -}}, {{ end -}}
{{- end -}}
)